#search-text {
    border: solid 1px black;
    background-color: whitesmoke;
    margin-top: 10px;
    border-radius: 7px;
}


/*
.box {
    color: cyan;
    width: 25px;
    height: 25px;
    background: darkorchid;
    font-size: 2rem;
    font-family: cursive;
}

.box::before {
    content: "";
    position: absolute;
    width: 258px;
    height: 258px;
    background: linear-gradient(45deg, darkorchid, #000000, #000000, cyan);
    z-index: -1;
    transition: all .6s;
}

.box:hover::before {
    transform: rotate(270deg);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    height: 100vh;
}