a {
    color: black;
}

#search-text {
    border: solid 1px black;
    background-color: whitesmoke;
    margin-top: 10px;
    border-radius: 7px;
}

h1 {
    font-family: cursive;
}

.box {
    color: black;
    width: 25px;
    height: 25px;
    background: darkorchid;
    font-size: 1rem;
    font-family: cursive;
}


.box::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 100px;
    background: repeating-linear-gradient(45deg, darkorchid, darkorchid cyan);
    z-index: -1;
    transition: all .6s;
}

.box:hover::before {
    transform: rotate(180deg);

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 110px;
    height: 110px;
}

.collection-item:hover {
    background: repeating-linear-gradient(45deg, cyan, darkorchid);
}